     
      
pr:  # Trigger a build on every PR.
  branches:
    include:
      - '*'  # Must quote since "*" is a YAML reserved character



jobs:
- job: TestHarnessWindows
  displayName: 'Test Harness Windows'
  variables:
    TEST_HARNESS: "true"
    TRAVIS_OS_NAME: "windows"
    TRAVIS: "true"
    TRAVIS_PULL_REQUEST: $(System.PullRequest.PullRequestNumber)
    TRAVIS_PULL_REQUEST_SHA: $(Build.SourceVersion)
  pool:
    vmImage: 'windows-latest'
  timeoutInMinutes: 360

  steps:
    - checkout: self
      persistCredentials: true
      path: enigma-dev
      
    - script: |
        (robocopy $(Build.SourcesDirectory) C:\enigma-dev /COPYALL /E) ^& IF %ERRORLEVEL% LEQ 1 exit 0
      displayName: 'Stage ENIGMA'
  
    - script: python3 -m pip install --upgrade Pillow
      displayName: Pillow install
    - powershell: |
        Get-Service 'Windows Audio'
        Start-Service 'Windows Audio'
        Get-Service 'Windows Audio'
    #- powershell: 'C:\Windows\System32\dxdiag.exe /whql:off /t "C:\dxdiagout.txt"'
    - powershell: |
        Get-Service 'Windows Audio'
        dxdiag /whgl:off /t C:\dxout.txt
      displayName: Install mingw stuff
    - task: PublishBuildArtifacts@1
      inputs:
        pathtoPublish: C:\dxout.txt
        artifactName: 'dxdiag out'
